# Servidor
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# Base de Datos
DB_HOST=localhost
DB_PORT=3306
DB_NAME=agromap_db
DB_USER=root
DB_PASSWORD=

# Seguridad
JWT_SECRET=super_secret_key_123
